@media only screen and (max-width: 767px){
    .design{
        @include flex-center;
        padding-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
        background-color: $color1;
    }
    .design__title{
        font-size: 30px;
        font-weight: 700;
        color: $color10;
        font-family: 'DynaPuff', system-ui;
        margin-bottom: 30px
    }
    .design__photolist{
        @include flex-center;
        flex-direction: column;
    }

    .design__picture--star{
        width: 300px;
        height: 300px;
        border-radius: 30px;
        filter: grayscale(100%);
        margin-top: 25px;
    }
    .design__picture--butt{
        width: 300px;
        height: 300px;
        border-radius: 30px;
        filter: grayscale(100%);
        margin-top: 25px;
    }

    .design__picture--snowflake{
        width: 300px;
        height: 300px;
        border-radius: 30px;
        filter: grayscale(100%);
        margin-top: 25px;
    }
    
    .design__snowflake-container {
        position: relative;
        width: 300px;
        height: 300px;
    }
    
    .design__snowflake {
        position: absolute;
        top: 70%;
        left: 50%;
        font-size: 180px;
        font-weight: 900;
        color: blue;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
 

    .design__photo {
        position: relative;
        margin-top: 25px; 
      }
      
      .design__butt {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
      }


      .design__star{
        position: absolute;
        width: 150px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

}





@media screen and (min-width: 768px) and (orientation: landscape){
    .design{
        @include flex-center;
        padding-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
        background-color: $color1;
    }
    .design__title{
        font-size: 60px;
        font-weight: 700;
        color: $color10;
        font-family: 'DynaPuff', system-ui;
        margin-bottom: 30px
    }
    .design__photolist{
        @include flex-center;
        flex-direction: column;
    }

    .design__picture--star{
        width: 760px;
        height: 500px;
        border-radius: 30px;
        filter: grayscale(100%);
        margin-top: 25px;
    }
    .design__picture--butt{
        width: 300px;
        height: 300px;
        border-radius: 30px;
        filter: grayscale(100%);
        margin-right: 55px;
    }

    .design__picture--snowflake{
        width: 300px;
        height: 300px;
        border-radius: 30px;
        filter: grayscale(100%);
        margin-left: 15px;
    }
    
    .design__snowflake-container {
        position: relative;
        width: 300px;
        height: 300px;
    }
    
    .design__snowflake {
        position: absolute;
        top: 60%;
        left: 55%;
        font-size: 180px;
        font-weight: 900;
        color: blue;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
 

    .design__photo {
        position: relative;
        margin-top: 25px; 
      }
      
      .design__butt {
        position: absolute;
        top: 50%;
        left: 42%;
        transform: translate(-50%, -50%);
      }


      .design__star{
        position: absolute;
        width: 150px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .design__land{
        @include flex-center;
      }
}




@media only screen and (min-width: 1024px) {
    .design{
        
        padding-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
        background-color: $color1;
    }
    .design__title{
        font-size: 60px;
        font-weight: 700;
        color: $color10;
        font-family: 'DynaPuff', system-ui;
        margin-bottom: 0px
    }
    .design__photolist{
        @include flex-center;
        flex-direction: column;
    }

    .design__picture--star{
        width: 760px;
        height: 500px;
        border-radius: 30px;
        filter: grayscale(100%);
        margin-top: 25px;
    }
    .design__picture--butt{
        width: 300px;
        height: 300px;
        border-radius: 30px;
        filter: grayscale(100%);
        margin-right: 55px;
    }

    .design__picture--snowflake{
        width: 300px;
        height: 300px;
        border-radius: 30px;
        filter: grayscale(100%);
        margin-left: 15px;
    }
    
    .design__snowflake-container {
        position: relative;
        width: 300px;
        height: 300px;
    }
    
    .design__snowflake {
        position: absolute;
        top: 60%;
        left: 55%;
        font-size: 180px;
        font-weight: 900;
        color: blue;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
 

    .design__photo {
        position: relative;
        margin-top: 25px; 
      }
      
      .design__butt {
        position: absolute;
        top: 50%;
        left: 42%;
        transform: translate(-50%, -50%);
      }


      .design__star{
        position: absolute;
        width: 150px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .design__land{
        @include flex-center;
      }


}