@media screen and (min-width: 767px){
  .fixed-header {
    display: none;
   }

}
@media screen and (min-width: 768px),(max-width:1023) and (orientation: landscape){

  .fixed-header {
   display: none;
  }
}


@media only screen and (min-width: 1024px) {
  
.fixed-header{
    display: flex;
    justify-content: space-around;
    background-color: $color1;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.fixed-header__circle--color10 {
    @include flex-center;
    width: 55px;
    height: 55px;
    background-color: $color10; 
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  .fixed-header__diamond--color1 {
    width: 35px;
    height: 35px;
    background: $color1;
    position: absolute;
    clip-path: polygon(
      50% 0%, 
      100% 50%, 
      50% 100%, 
      0% 50%
    );
  }
  .fixed-header__menu{
    @include flex-center;
  }

  .fixed-header__items{
    margin-right: 10px;
    padding: 5px 10px;
    margin-left: 20px;
    border: 1px solid $color10;
    border-radius: 10px; 
    
    &:hover{
      background-color: $color12;
    }
}

.fixed-header__span{
  padding-left: 10px;
}

.fixed-header__link-item{
  display: flex;
  color: $color10;
    list-style: none;
    text-decoration: none;
}


}

