@media only screen and (max-width: 767px){
    .footer{
        // @include flex-center;
        padding-top: 10px;
        background-color: $color1;
        
    }
    
    .footer__link{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        text-align: center;
        text-decoration: none;
        color: $color10;
        border: 1px solid $color10;
        border-radius: 50px;
        padding: 10px 10px;
        font-size: 14px;
        margin-left: 70px;
        margin-right: 70px;
        & span{
            font-family: 'DynaPuff', system-ui; 
            font-size: 18px;
        }

        &::after {
            content: "→";
            font-size: 22px;
            margin-left: 25px; 
          }
    }
   
    .footer__star::before {
        content: "✺";
        margin-right: 5px; 
        font-size: 55px; 
        color: $color10;
      }
      
      .footer__social{
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .footer__media{
        margin-top: 110px;
      }
    
      .footer__media-link{
        padding-left: 30px;
        color: $color10;
        font-size: 30px;
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
      }
   
      .footer__copy{
        color: $color10;
        text-align: center;
        padding: 30px;
      }
}



@media screen and (min-width: 768px) and (orientation: landscape){
  .footer{
    // @include flex-center;
    padding-top: 10px;
    background-color: $color1;
}



.footer__link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-decoration: none;
    color: $color10;
    border: 1px solid $color10;
    border-radius: 50px;
    padding: 10px 10px;
    font-size: 14px;
    margin-left: 170px;
        margin-right: 170px;

    & span{
        font-family: 'DynaPuff', system-ui; 
        font-size: 18px;
    }

    &::after {
        content: "→";
        font-size: 22px;
        margin-left: 25px; 
      }
}

.footer__star::before {
    content: "✺";
    margin-right: 5px; 
    font-size: 55px; 
    color: $color10;
  }
  
  .footer__social{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__media{
    margin-top: 110px;
  }

  .footer__media-link{
    padding-left: 30px;
    color: $color10;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .footer__copy{
    color: $color10;
    text-align: center;
    padding: 30px;
  }
}



@media only screen and (min-width: 1024px) {
  .footer{
    // @include flex-center;
    padding-top: 10px;
    background-color: $color1;
}



.footer__link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-decoration: none;
    color: $color10;
    border: 1px solid $color10;
    border-radius: 50px;
    padding: 10px 10px;
    font-size: 17px;
    margin-left: 300px;
        margin-right: 300px;

    & span{
        font-family: 'DynaPuff', system-ui; 
        font-size: 25px;
    }

    &::after {
        content: "→";
        font-size: 22px;
        margin-left: 25px; 
      }
}

.footer__star::before {
    content: "✺";
    margin-right: 5px; 
    font-size: 55px; 
    color: $color10;
  }
  
  .footer__social{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__media{
    margin-top: 110px;
  }

  .footer__media-link{
    padding-left: 30px;
    color: $color10;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .footer__copy{
    color: $color10;
    text-align: center;
    padding: 30px;
  }
}