@media screen and (max-width: 767px) {
  .fixed-header {
   display: none;
  }

 .header {
   display: flex;
   align-items: center;
   justify-content: center;
   background: linear-gradient(to left,  #FFEE32 30%, #D6D6D6 100%);
   text-align: center;
   flex-direction: column; 
 }

 .header__title {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   margin-right: 30px;
   font-family: 'DynaPuff', system-ui;
   font-size: 30px;
   margin: 100px;
   color: $color10;
 }

 .header__menu {
   width: 40px;
   margin-top: 20px;
   margin-right: 20px
 }

 .header__circle {
   @include flex-center;
   width: 45px;
   height: 45px;
   background-color: $color10; 
   border-radius: 50%;
   overflow: hidden;
   margin-top: 20px;
   margin-left: 20px;
 }

 .header__diamond {
   display: flex;
   width: 30px;
   height: 30px;
   background: linear-gradient(to left,  #FFEE32 10%, #D6D6D6 100%);
   clip-path: polygon(
     50% 0%, 
     100% 50%, 
     50% 100%, 
     0% 50%
   );
 }

 .header__items {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
 }
}






@media screen and (min-width: 768px),(max-width:1023) and (orientation: landscape){
 .header {
   display: flex;
   align-items: center;
   justify-content: center;
   background: linear-gradient(to left,  #FFEE32 30%, #D6D6D6 100%);
   text-align: center;
   flex-direction: column; 
   transition: all 0.5s ease;
 }

 .header__title {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   margin-right: 30px;
   font-family: 'DynaPuff', system-ui;
   font-size: 30px;
   margin: 100px;
  color: $color10;
  padding-left: 400px ;
    padding-right: 400px ;
 }

 .header__menu {
   width: 40px;
   margin-top: 20px;
   margin-right: 20px
 }

 .header__circle {
   @include flex-center;
   width: 45px;
   height: 45px;
   background-color: $color10; 
   border-radius: 50%;
   overflow: hidden;
   margin-top: 20px;
   margin-left: 20px;
 }

 .header__diamond {
   display: flex;
   width: 30px;
   height: 30px;
   background: linear-gradient(to left,  #FFEE32 10%, #D6D6D6 100%);
   clip-path: polygon(
     50% 0%, 
     100% 50%, 
     50% 100%, 
     0% 50%
   );
 }

 .header__items {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
 }
}



@media only screen and (min-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left,  #FFEE32 30%, #D6D6D6 100%);
    text-align: center;
    flex-direction: column; 
    transition: all 0.5s ease;
  }
 
  .header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-right: 30px;
    padding: 120px;
    padding-left: 100px ;
    padding-right: 100px ;
    font-family: 'DynaPuff', system-ui;
    font-size: 60px;
    margin: 100px;
   color: $color10;
  }
 
  .header__menu {
    width: 40px;
    margin-top: 20px;
    margin-right: 20px
  }
 
  .header__circle {
    @include flex-center;
    width: 45px;
    height: 45px;
    background-color: $color10; 
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
  }
 
  .header__diamond {
    display: flex;
    width: 30px;
    height: 30px;
    background: linear-gradient(to left,  #FFEE32 10%, #D6D6D6 100%);
    clip-path: polygon(
      50% 0%, 
      100% 50%, 
      50% 100%, 
      0% 50%
    );
  }
 
  .header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}