@media only screen and (max-width: 767px){ 
    .hero{
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: $color3;
    }
    
    .hero__list{
         margin-left: 20px;
         margin-right: 20px;
         
        & :nth-child(2){
            margin-top: 10px;
        }
        & :nth-child(3){
            margin-top: 10px;
        }
        & :nth-child(4){
            margin-top: 10px;
        }

        & span{
            font-family: 'DynaPuff', system-ui;
            font-size: 25px;
            padding-bottom: 30px;
            color: $color4 ;
        }
    }
  

    .hero__items{
        position: relative;
        overflow: hidden;
        @include flex-center;
        flex-direction: column;
        padding-left: 55px;
        padding-right: 55px;
        background-color: $color10;
        border-radius: 10px;
        overflow: hidden;
        font-size: 20px;

        & ::before{
            content: "";
            position: absolute;
            top: 25px;
            right: 30px;
            width: 40px;
            height: 40px;
            background-color: $color10;
            border-radius: 50%;
            cursor: pointer;
        }
     
        & ::after{
            content: "→";
            position: absolute;
            top: 30px;
            right: 40px;
            color: $color11; 
            font-size: 22px;
            font-weight: bold;
            transform: rotate(-45deg);
            cursor: pointer;
        }
    }
    
    .hero__item{
        position: relative;
        overflow: hidden;
        @include flex-center;
        flex-direction: column;
        padding-left: 55px;
        padding-right: 55px;
        background-color: $color10;
        border-radius: 10px;
        overflow: hidden;
        font-size: 20px;

        & ::before{
            content: "";
            position: absolute;
            top: 25px;
            right: 30px;
            width: 40px;
            height: 40px;
            background-color: $color10;
            border-radius: 50%;
            cursor: pointer;
        }
     
        & ::after{
            content: "→";
            position: absolute;
            top: 30px;
            right: 40px;
            color: $color11; 
            font-size: 22px;
            font-weight: bold;
            transform: rotate(-45deg);
            cursor: pointer;
        }
        }

    
    .hero__image{
    width: 300px;
    height: 250px;
    border-radius: 30px;
    padding: 20px;
}
}




@media screen and (min-width: 768px) and (orientation: landscape){
    .hero{
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: $color3;
    }
    
    .hero__list{
         margin-left: 100px;
         margin-right: 100px;
         
        & :nth-child(2){
            margin-top: 10px;
        }
        & :nth-child(3){
            margin-top: 10px;
        }

        & span{
            font-family: 'DynaPuff', system-ui;
            font-size: 25px;
            padding-bottom: 30px;
            color: $color4 ;
        }
    }

    .hero__items{
        position: relative;
        overflow: hidden;
        @include flex-center;
        flex-direction: column;
        padding-left: 55px;
        padding-right: 55px;
        background-color: $color10;
        border-radius: 20px;
        overflow: hidden;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;

        &:nth-child(2){
            margin-bottom: 8px;
        }

        & ::before{
            content: "";
            position: absolute;
            top: 25px;
            right: 10px;
            width: 40px;
            height: 40px;
            background-color: $color10;
            border-radius: 50%;
            cursor: pointer;
        }
     
        & ::after{
            content: "→";
            position: absolute;
            top: 32px;
            right: 22px;
            color: $color11; 
            font-size: 22px;
            font-weight: bold;
            transform: rotate(-45deg);
            cursor: pointer;
        }
    }

    .hero__item{
        position: relative;
        overflow: hidden;
        @include flex-center;
        flex-direction: column;
        padding-left: 55px;
        padding-right: 55px;
        background-color: $color10;
        border-radius: 10px;
        overflow: hidden;
        font-size: 20px;

        & ::before{
            content: "";
            position: absolute;
            top: 25px;
            right: 60px;
            width: 40px;
            height: 40px;
            background-color: $color10;
            border-radius: 50%;
            cursor: pointer;
        }
     
        & ::after{
            content: "→";
            position: absolute;
            top: 32px;
            right: 72px;
            color: $color11; 
            font-size: 22px;
            font-weight: bold;
            transform: rotate(-45deg);
            cursor: pointer;
        }
        & img {
            width: 550px;
            height: 350px;
        }
    }

    .hero__special{
        @include flex-center;

        
    }
    
    .hero__image{
    width: 300px;
    height: 250px;
    border-radius: 30px;
    padding: 20px;


}

}




@media only screen and (min-width: 1024px) {

    .hero{
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: $color3;
    }
    
    .hero__list{
         margin-left: 100px;
         margin-right: 100px;

        & span{
            font-family: 'DynaPuff', system-ui;
            font-size: 30px;
            padding-bottom: 30px;
            color: $color4 ;
        }
    }

    .hero__items{
        position: relative;
        overflow: hidden;
        @include flex-center;
        flex-direction: column;
        background-color: $color10;
        border-radius: 20px;
        overflow: hidden;
        font-size: 23px;
        margin-left: 20px;
        margin-right: 20px;

        & ::before{
            content: "";
            position: absolute;
            top: 25px;
            right: 20px;
            width: 40px;
            height: 40px;
            background-color: $color10;
            border-radius: 50%;
            cursor: pointer;
        }
     
        & ::after{
            content: "→";
            position: absolute;
            top: 32px;
            right: 32px;
            color: $color11; 
            font-size: 22px;
            font-weight: bold;
            transform: rotate(-45deg);
            cursor: pointer;
        }
    }

    .hero__item{
        position: relative;
        overflow: hidden;
        @include flex-center;
        flex-direction: column;
        background-color: $color10;
        border-radius: 10px;
        overflow: hidden;
        font-size: 20px;

        & ::before{
            content: "";
            position: absolute;
            top: 25px;
            right: 40px;
            width: 40px;
            height: 40px;
            background-color: $color10;
            border-radius: 50%;
            cursor: pointer;
        }
     
        & ::after{
            content: "→";
            position: absolute;
            top: 32px;
            right: 52px;
            color: $color11; 
            font-size: 22px;
            font-weight: bold;
            transform: rotate(-45deg);
            cursor: pointer;
        }
        & img {
            width: 950px;
            height: 550px;
        }
    }

    .hero__special{
        @include flex-center;
        
    }
    
    .hero__image{
    width: 270px;
    height: 250px;
    border-radius: 30px;
    padding: 20px;
}
}