@media only screen and (max-width: 767px){
    .speech{
        height: 500px;
    background-image: url('/src/images/Rectangle 8.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-center;
}

.speech__par{
    font-family: 'DynaPuff', system-ui;
    color: $color10;
    padding: 35px;
    font-size: 21px;
}
}



@media screen and (min-width: 768px) and (orientation: landscape){
    .speech{
        height: 600px;
    background-image: url('/src/images/Rectangle 8.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-center;
}

.speech__par{
    font-family: 'DynaPuff', system-ui;
    color: $color10;
    padding: 100px;
    font-size: 40px;
}
}



@media only screen and (min-width: 1024px) {
    .speech{
        height: 600px;
    background-image: url('/src/images/Rectangle 8.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-center;
}

.speech__par{
    font-family: 'DynaPuff', system-ui;
    color: $color10;
    padding: 100px;
    font-size: 40px;
}
}