@media only screen and (max-width: 767px){

.stat{
display: flex ;
flex-direction: column;
background-color: $color1;
}
.stat__name--yellow{
    margin-top: 30px;
    color: $color2;
    font-size: 30px;
    font-weight: 700;
    font-family: 'DynaPuff', system-ui;
    word-wrap: break-word; /* для браузеров, не поддерживающих overflow-wrap */
    overflow-wrap: break-word; /* для большинства браузеров */
    hyphens: auto;
}

.stat__description{
    padding: 30px;
    color: $color10;
}

.stat__report{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color10;
    
}
.stat__items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    
}
.stat__span{
    font-weight: 700;
    font-family: 'DynaPuff', system-ui;
    font-size: 25px;
}
.stat__container-oval {
    max-width: 768px; 
    height: 160px; 
    overflow: hidden; 
    position: relative; 
  }
.stat__oval {
    width: 200px;
    height: 100px;
    border: 1px solid #737373;
    border-radius: 50% ;
    margin-left: 30px;
    position: relative;
    margin-top: 20px;
    transform: rotate(-45deg);
    
  }
  .stat__oval-2{
    width: 200px;
    height: 100px;
    border: 1px solid #737373;
    border-radius: 50% ;
    margin-left: -20px;
    transform: rotate(45deg);
    position: relative;
    margin-top: -100px;
    margin-left: 30px;
  }
}




@media screen and (min-width: 768px) and (orientation: landscape){
  .stat{
    display: flex ;
    flex-direction: column;
    background-color: $color1;
    }
    .stat__name--yellow{
        margin-top: 30px;
        color: $color2;
        font-size: 30px;
        font-weight: 700;
        font-family: 'DynaPuff', system-ui;
        margin-left: 30px;
    }
    
    .stat__description{
        padding: 30px;
        color: $color10;
    }
    
    .stat__report{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 150px;
        color: $color10;
        
    }
    .stat__items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
        
    }
    .stat__span{
        font-weight: 700;
        font-family: 'DynaPuff', system-ui;
        font-size: 25px;
    }
    .stat__container-oval {
        max-width: 768px; 
        height: 160px; 
        overflow: hidden; 
        position: relative; 
      }
    .stat__oval {
        width: 200px;
        height: 100px;
        border: 1px solid #737373;
        border-radius: 50% ;
        margin-left: 300px;
        position: relative;
        margin-top: 20px;
        transform: rotate(-45deg);
        
      }
      .stat__oval-2{
        width: 200px;
        height: 100px;
        border: 1px solid #737373;
        border-radius: 50% ;
        margin-left: -20px;
        transform: rotate(45deg);
        position: relative;
        margin-top: -100px;
        margin-left: 300px;
      }
}




@media only screen and (min-width: 1024px) {
  .stat{
    display: flex ;
    flex-direction: column;
    background-color: $color1;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    }
    .stat__name--yellow{
        margin-top: 30px;
        color: $color2;
        font-size: 30px;
        font-weight: 700;
        font-family: 'DynaPuff', system-ui;
        margin-left: 30px;
    }
    
    .stat__description{
        padding: 30px;
        color: $color10;
    }
    
    .stat__report{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 150px;
        color: $color10;
        
    }
    .stat__items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
        
    }
    .stat__span{
        font-weight: 700;
        font-family: 'DynaPuff', system-ui;
        font-size: 25px;
    }
    .stat__container-oval {
        max-width: 768px; 
        height: 160px; 
        overflow: hidden; 
        position: relative; 
      }
    .stat__oval {
        width: 240px;
        height: 100px;
        border: 1px solid #737373;
        border-radius: 50% ;
        margin-left: 250px;
        position: relative;
        margin-top: 20px;
        transform: rotate(-45deg);
        
      }
      .stat__oval-2{
        width: 240px;
        height: 100px;
        border: 1px solid #737373;
        border-radius: 50% ;
        margin-left: -20px;
        transform: rotate(45deg);
        position: relative;
        margin-top: -100px;
        margin-left: 250px;
      }
}