@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (min-width: 767px) {
  .fixed-header {
    display: none;
  }
}
@media screen and (min-width: 768px), (max-width: 1023) and (orientation: landscape) {
  .fixed-header {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .fixed-header {
    display: flex;
    justify-content: space-around;
    background-color: #202020;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .fixed-header__circle--color10 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .fixed-header__diamond--color1 {
    width: 35px;
    height: 35px;
    background: #202020;
    position: absolute;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  .fixed-header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fixed-header__items {
    margin-right: 10px;
    padding: 5px 10px;
    margin-left: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
  }
  .fixed-header__items:hover {
    background-color: #2e2e2e;
  }
  .fixed-header__span {
    padding-left: 10px;
  }
  .fixed-header__link-item {
    display: flex;
    color: #ffffff;
    list-style: none;
    text-decoration: none;
  }
}
@media screen and (max-width: 767px) {
  .fixed-header {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #FFEE32 30%, #D6D6D6 100%);
    text-align: center;
    flex-direction: column;
  }
  .header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-right: 30px;
    font-family: "DynaPuff", system-ui;
    font-size: 30px;
    margin: 100px;
    color: #ffffff;
  }
  .header__menu {
    width: 40px;
    margin-top: 20px;
    margin-right: 20px;
  }
  .header__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
  }
  .header__diamond {
    display: flex;
    width: 30px;
    height: 30px;
    background: linear-gradient(to left, #FFEE32 10%, #D6D6D6 100%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  .header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
@media screen and (min-width: 768px), (max-width: 1023) and (orientation: landscape) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #FFEE32 30%, #D6D6D6 100%);
    text-align: center;
    flex-direction: column;
    transition: all 0.5s ease;
  }
  .header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-right: 30px;
    font-family: "DynaPuff", system-ui;
    font-size: 30px;
    margin: 100px;
    color: #ffffff;
    padding-left: 400px;
    padding-right: 400px;
  }
  .header__menu {
    width: 40px;
    margin-top: 20px;
    margin-right: 20px;
  }
  .header__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
  }
  .header__diamond {
    display: flex;
    width: 30px;
    height: 30px;
    background: linear-gradient(to left, #FFEE32 10%, #D6D6D6 100%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  .header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #FFEE32 30%, #D6D6D6 100%);
    text-align: center;
    flex-direction: column;
    transition: all 0.5s ease;
  }
  .header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-right: 30px;
    padding: 120px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: "DynaPuff", system-ui;
    font-size: 60px;
    margin: 100px;
    color: #ffffff;
  }
  .header__menu {
    width: 40px;
    margin-top: 20px;
    margin-right: 20px;
  }
  .header__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
  }
  .header__diamond {
    display: flex;
    width: 30px;
    height: 30px;
    background: linear-gradient(to left, #FFEE32 10%, #D6D6D6 100%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  .header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .stat {
    display: flex;
    flex-direction: column;
    background-color: #202020;
  }
  .stat__name--yellow {
    margin-top: 30px;
    color: #FAEB49;
    font-size: 30px;
    font-weight: 700;
    font-family: "DynaPuff", system-ui;
    word-wrap: break-word; /* для браузеров, не поддерживающих overflow-wrap */
    overflow-wrap: break-word; /* для большинства браузеров */
    hyphens: auto;
  }
  .stat__description {
    padding: 30px;
    color: #ffffff;
  }
  .stat__report {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
  .stat__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
  }
  .stat__span {
    font-weight: 700;
    font-family: "DynaPuff", system-ui;
    font-size: 25px;
  }
  .stat__container-oval {
    max-width: 768px;
    height: 160px;
    overflow: hidden;
    position: relative;
  }
  .stat__oval {
    width: 200px;
    height: 100px;
    border: 1px solid #737373;
    border-radius: 50%;
    margin-left: 30px;
    position: relative;
    margin-top: 20px;
    transform: rotate(-45deg);
  }
  .stat__oval-2 {
    width: 200px;
    height: 100px;
    border: 1px solid #737373;
    border-radius: 50%;
    margin-left: -20px;
    transform: rotate(45deg);
    position: relative;
    margin-top: -100px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .stat {
    display: flex;
    flex-direction: column;
    background-color: #202020;
  }
  .stat__name--yellow {
    margin-top: 30px;
    color: #FAEB49;
    font-size: 30px;
    font-weight: 700;
    font-family: "DynaPuff", system-ui;
    margin-left: 30px;
  }
  .stat__description {
    padding: 30px;
    color: #ffffff;
  }
  .stat__report {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    color: #ffffff;
  }
  .stat__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
  }
  .stat__span {
    font-weight: 700;
    font-family: "DynaPuff", system-ui;
    font-size: 25px;
  }
  .stat__container-oval {
    max-width: 768px;
    height: 160px;
    overflow: hidden;
    position: relative;
  }
  .stat__oval {
    width: 200px;
    height: 100px;
    border: 1px solid #737373;
    border-radius: 50%;
    margin-left: 300px;
    position: relative;
    margin-top: 20px;
    transform: rotate(-45deg);
  }
  .stat__oval-2 {
    width: 200px;
    height: 100px;
    border: 1px solid #737373;
    border-radius: 50%;
    margin-left: -20px;
    transform: rotate(45deg);
    position: relative;
    margin-top: -100px;
    margin-left: 300px;
  }
}
@media only screen and (min-width: 1024px) {
  .stat {
    display: flex;
    flex-direction: column;
    background-color: #202020;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
  }
  .stat__name--yellow {
    margin-top: 30px;
    color: #FAEB49;
    font-size: 30px;
    font-weight: 700;
    font-family: "DynaPuff", system-ui;
    margin-left: 30px;
  }
  .stat__description {
    padding: 30px;
    color: #ffffff;
  }
  .stat__report {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    color: #ffffff;
  }
  .stat__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
  }
  .stat__span {
    font-weight: 700;
    font-family: "DynaPuff", system-ui;
    font-size: 25px;
  }
  .stat__container-oval {
    max-width: 768px;
    height: 160px;
    overflow: hidden;
    position: relative;
  }
  .stat__oval {
    width: 240px;
    height: 100px;
    border: 1px solid #737373;
    border-radius: 50%;
    margin-left: 250px;
    position: relative;
    margin-top: 20px;
    transform: rotate(-45deg);
  }
  .stat__oval-2 {
    width: 240px;
    height: 100px;
    border: 1px solid #737373;
    border-radius: 50%;
    margin-left: -20px;
    transform: rotate(45deg);
    position: relative;
    margin-top: -100px;
    margin-left: 250px;
  }
}
@media only screen and (max-width: 767px) {
  .hero {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #3C3C3C;
  }
  .hero__list {
    margin-left: 20px;
    margin-right: 20px;
  }
  .hero__list :nth-child(2) {
    margin-top: 10px;
  }
  .hero__list :nth-child(3) {
    margin-top: 10px;
  }
  .hero__list :nth-child(4) {
    margin-top: 10px;
  }
  .hero__list span {
    font-family: "DynaPuff", system-ui;
    font-size: 25px;
    padding-bottom: 30px;
    color: #565656;
  }
  .hero__items {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    font-size: 20px;
  }
  .hero__items ::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
  .hero__items ::after {
    content: "→";
    position: absolute;
    top: 30px;
    right: 40px;
    color: #374957;
    font-size: 22px;
    font-weight: bold;
    transform: rotate(-45deg);
    cursor: pointer;
  }
  .hero__item {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    font-size: 20px;
  }
  .hero__item ::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
  .hero__item ::after {
    content: "→";
    position: absolute;
    top: 30px;
    right: 40px;
    color: #374957;
    font-size: 22px;
    font-weight: bold;
    transform: rotate(-45deg);
    cursor: pointer;
  }
  .hero__image {
    width: 300px;
    height: 250px;
    border-radius: 30px;
    padding: 20px;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .hero {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #3C3C3C;
  }
  .hero__list {
    margin-left: 100px;
    margin-right: 100px;
  }
  .hero__list :nth-child(2) {
    margin-top: 10px;
  }
  .hero__list :nth-child(3) {
    margin-top: 10px;
  }
  .hero__list span {
    font-family: "DynaPuff", system-ui;
    font-size: 25px;
    padding-bottom: 30px;
    color: #565656;
  }
  .hero__items {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .hero__items:nth-child(2) {
    margin-bottom: 8px;
  }
  .hero__items ::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
  .hero__items ::after {
    content: "→";
    position: absolute;
    top: 32px;
    right: 22px;
    color: #374957;
    font-size: 22px;
    font-weight: bold;
    transform: rotate(-45deg);
    cursor: pointer;
  }
  .hero__item {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    font-size: 20px;
  }
  .hero__item ::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 60px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
  .hero__item ::after {
    content: "→";
    position: absolute;
    top: 32px;
    right: 72px;
    color: #374957;
    font-size: 22px;
    font-weight: bold;
    transform: rotate(-45deg);
    cursor: pointer;
  }
  .hero__item img {
    width: 550px;
    height: 350px;
  }
  .hero__special {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__image {
    width: 300px;
    height: 250px;
    border-radius: 30px;
    padding: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .hero {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #3C3C3C;
  }
  .hero__list {
    margin-left: 100px;
    margin-right: 100px;
  }
  .hero__list span {
    font-family: "DynaPuff", system-ui;
    font-size: 30px;
    padding-bottom: 30px;
    color: #565656;
  }
  .hero__items {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    font-size: 23px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .hero__items ::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
  .hero__items ::after {
    content: "→";
    position: absolute;
    top: 32px;
    right: 32px;
    color: #374957;
    font-size: 22px;
    font-weight: bold;
    transform: rotate(-45deg);
    cursor: pointer;
  }
  .hero__item {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    font-size: 20px;
  }
  .hero__item ::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
  .hero__item ::after {
    content: "→";
    position: absolute;
    top: 32px;
    right: 52px;
    color: #374957;
    font-size: 22px;
    font-weight: bold;
    transform: rotate(-45deg);
    cursor: pointer;
  }
  .hero__item img {
    width: 950px;
    height: 550px;
  }
  .hero__special {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__image {
    width: 270px;
    height: 250px;
    border-radius: 30px;
    padding: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .design {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    background-color: #202020;
  }
  .design__title {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    font-family: "DynaPuff", system-ui;
    margin-bottom: 30px;
  }
  .design__photolist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .design__picture--star {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    filter: grayscale(100%);
    margin-top: 25px;
  }
  .design__picture--butt {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    filter: grayscale(100%);
    margin-top: 25px;
  }
  .design__picture--snowflake {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    filter: grayscale(100%);
    margin-top: 25px;
  }
  .design__snowflake-container {
    position: relative;
    width: 300px;
    height: 300px;
  }
  .design__snowflake {
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 180px;
    font-weight: 900;
    color: blue;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .design__photo {
    position: relative;
    margin-top: 25px;
  }
  .design__butt {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .design__star {
    position: absolute;
    width: 150px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .design {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    background-color: #202020;
  }
  .design__title {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    font-family: "DynaPuff", system-ui;
    margin-bottom: 30px;
  }
  .design__photolist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .design__picture--star {
    width: 760px;
    height: 500px;
    border-radius: 30px;
    filter: grayscale(100%);
    margin-top: 25px;
  }
  .design__picture--butt {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    filter: grayscale(100%);
    margin-right: 55px;
  }
  .design__picture--snowflake {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    filter: grayscale(100%);
    margin-left: 15px;
  }
  .design__snowflake-container {
    position: relative;
    width: 300px;
    height: 300px;
  }
  .design__snowflake {
    position: absolute;
    top: 60%;
    left: 55%;
    font-size: 180px;
    font-weight: 900;
    color: blue;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .design__photo {
    position: relative;
    margin-top: 25px;
  }
  .design__butt {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
  }
  .design__star {
    position: absolute;
    width: 150px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .design__land {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 1024px) {
  .design {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    background-color: #202020;
  }
  .design__title {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    font-family: "DynaPuff", system-ui;
    margin-bottom: 0px;
  }
  .design__photolist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .design__picture--star {
    width: 760px;
    height: 500px;
    border-radius: 30px;
    filter: grayscale(100%);
    margin-top: 25px;
  }
  .design__picture--butt {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    filter: grayscale(100%);
    margin-right: 55px;
  }
  .design__picture--snowflake {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    filter: grayscale(100%);
    margin-left: 15px;
  }
  .design__snowflake-container {
    position: relative;
    width: 300px;
    height: 300px;
  }
  .design__snowflake {
    position: absolute;
    top: 60%;
    left: 55%;
    font-size: 180px;
    font-weight: 900;
    color: blue;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .design__photo {
    position: relative;
    margin-top: 25px;
  }
  .design__butt {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
  }
  .design__star {
    position: absolute;
    width: 150px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .design__land {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  .speech {
    height: 500px;
    background-image: url("/src/images/Rectangle 8.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .speech__par {
    font-family: "DynaPuff", system-ui;
    color: #ffffff;
    padding: 35px;
    font-size: 21px;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .speech {
    height: 600px;
    background-image: url("/src/images/Rectangle 8.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .speech__par {
    font-family: "DynaPuff", system-ui;
    color: #ffffff;
    padding: 100px;
    font-size: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .speech {
    height: 600px;
    background-image: url("/src/images/Rectangle 8.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .speech__par {
    font-family: "DynaPuff", system-ui;
    color: #ffffff;
    padding: 100px;
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    padding-top: 10px;
    background-color: #202020;
  }
  .footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 10px 10px;
    font-size: 14px;
    margin-left: 70px;
    margin-right: 70px;
  }
  .footer__link span {
    font-family: "DynaPuff", system-ui;
    font-size: 18px;
  }
  .footer__link::after {
    content: "→";
    font-size: 22px;
    margin-left: 25px;
  }
  .footer__star::before {
    content: "✺";
    margin-right: 5px;
    font-size: 55px;
    color: #ffffff;
  }
  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__media {
    margin-top: 110px;
  }
  .footer__media-link {
    padding-left: 30px;
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .footer__copy {
    color: #ffffff;
    text-align: center;
    padding: 30px;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .footer {
    padding-top: 10px;
    background-color: #202020;
  }
  .footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 10px 10px;
    font-size: 14px;
    margin-left: 170px;
    margin-right: 170px;
  }
  .footer__link span {
    font-family: "DynaPuff", system-ui;
    font-size: 18px;
  }
  .footer__link::after {
    content: "→";
    font-size: 22px;
    margin-left: 25px;
  }
  .footer__star::before {
    content: "✺";
    margin-right: 5px;
    font-size: 55px;
    color: #ffffff;
  }
  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__media {
    margin-top: 110px;
  }
  .footer__media-link {
    padding-left: 30px;
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .footer__copy {
    color: #ffffff;
    text-align: center;
    padding: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    padding-top: 10px;
    background-color: #202020;
  }
  .footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 10px 10px;
    font-size: 17px;
    margin-left: 300px;
    margin-right: 300px;
  }
  .footer__link span {
    font-family: "DynaPuff", system-ui;
    font-size: 25px;
  }
  .footer__link::after {
    content: "→";
    font-size: 22px;
    margin-left: 25px;
  }
  .footer__star::before {
    content: "✺";
    margin-right: 5px;
    font-size: 55px;
    color: #ffffff;
  }
  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__media {
    margin-top: 110px;
  }
  .footer__media-link {
    padding-left: 30px;
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .footer__copy {
    color: #ffffff;
    text-align: center;
    padding: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
