// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss
@import "reset.scss";
@import "./variables/colors";
@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center ;
};
@import "./sections/fixed-header";
@import "./sections/header";
@import "./sections/stat";
@import "./sections/hero";
@import "./sections/design";
@import "./sections/speech";
@import "./sections/footer";
