@charset "UTF-8";
body {
  background-color: #000000;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #000000; /* Цвет круга */
  position: relative;
}

.star {
  width: 100px;
  height: 100px;
  background-color: white; /* Цвет круга */
  position: relative;
}
.star :hover {
  transform: scale(90px);
}

/*# sourceMappingURL=main.css.map */
